//
//font--family: "SimSunFF", arial
//font--family: "HelveticaNeue-CondensedBold";


$active-color: #00B5D0;
$base-color : #f6f5f1;
$page-bg-color : #f6f5f1;
$font-family : arial;
$neutral-color : #f6f5f1;
$base-gradient : #f6f5f1;
$include-highlights : false;
$include-default-icons : false; 

@import 'sencha-touch/default/all';
@import "compass/utilities/general/clearfix";

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;
///////////////////////
// CUSTOM STYLES
///////////////////////

// Ryans commit

/* Helvetica Light */
	// font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans
	/* Times New Roman-based stack */
	//font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
	/* HelveticaNeue-CondensedBold" */
	//


// variables
$xLightGray : #e4e4e2;
$lightGray : #9d9fa3;
$mediumGrey : #323840;
$darkGrey : #23282e;
$xDarkGray: #141414;

$highlightDark:#414851;
$highlightLight:#00b5d0;
$highlightAlt:#deddda;

$cellStroke:#bcbdbe;
$titleSroke:#83868d;

.x-loading-spinner {
	background: url(../images/loader.png);
	-webkit-animation-duration: 0.8s;
	margin:0 auto;
}


// global
body {
	color:#1a1a1a;
	//font-family: 'Webfont','helvetica';
	font-size:100% !important;
	line-height:175%;
	/* Helvetica Light */
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans;
	background: $active-color url(../images/Splash_Portrait.png) no-repeat center top;
}


h2 {
	font-size:25px;
	margin: 15px 0 15px 0;
	//width: 50%;
	padding:20px 0 0 0;
}
p {
	margin: 0 0 10px 0;
	line-height:150%;
}


.x-scroll-container {
	background: url(../images/linen_bg.png);
}
.x-scroll-scroller {
	background-color:$page-bg-color;
}
.badge {
	background-image: url(../images/badge_home_syd.png);
	background-repeat: no-repeat;
	width:118px;
	height:118px;
	top:40px;
	left:15px;
	position:absolute;
	z-index:10;
}
.loadError,
.loadingDisplay {
	//background:#181818 url(../images/preloader_icon.png) center 20px no-repeat !important;
	background:#181818 !important;
	color:#fff;
	width:150px;
	height:150px;
	margin:40px auto;
	padding:55px 0 0 0;
	text-align:center;
	border:none;
	@include border-radius(10px);
	@include sencha-loading-spinner();
	 .x-innerhtml  {
	 	
	 }
	 opacity: 0.75;
}
.loadError {
	padding:105px 0 0 0;
	background:#181818 url(../images/error_icon.png) center 20px no-repeat !important;
}
.actionHeader {
	background-color:$mediumGrey;
	color:#fff;
	padding:14px;
	margin: 0 0 0 0;
	h2 {
		margin:0;
		padding:0;
	}
	h4 {
		font-family: Georgia;
		font-style:italic;
		margin:0;
		padding:0;
		line-height: 140%;
	}
	.contactNav {
		margin:10px 0 0 0;
	}
	.x-button {
		width: 45px;
		height: 47px;
		float:left;
		
		background-color:transparent;
		background-repeat:no-repeat;
		margin:0 16px 0 0;
		border:none !important;
	}
	.x-button:last-child {
		margin:0;
	}
}
.appImg,
.contentImg {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
}

.x-msgbox {
	background-color:#181818 !important;
	border:none;
	width:250px;
	height:150px;
	color:#fff !important;
	text-align:center;
	@include border-radius(10px);
	.x-button,
	.x-button-action {
		border:none;
		background-color:#5d5d5d;
		color:#000;
	}
}
.x-msgbox-dark .x-msgbox-text {
	color:#fff !important ;
}
.prompt {
	background-color:#181818 !important;
	border:none;
	width:150px;
	height:150px;
	color:#fff !important;
	text-align:center;
	.x-inner {
		padding:110px 0 0 0;
		text-align:center;
		background-color:transparent !important;
	}
}

.infoMsg {
	margin:10px;
	background-color:#181818 !important;
	border:none;
	color:#fff !important;
	text-align:center;
	.x-inner {
		padding:10px;
		text-align:center;
		background-color:transparent !important;
	}
}

.questionAction {
	.question {
		font-weight: bold;
		text-align:center;
		font-size:16px;
	}
}

.noFavourites {
	background: url(../images/favs_no_badge.png) no-repeat center center;
	width:222px;
	height:222px;
	margin:40px auto;
	.x-innerhtml {
		text-align: center;
		text-transform:uppercase;
		padding:125px 40px 40px 40px;
	}
}
.favsAddedMsg {
	background:#181818 url(../images/fav_added_icon.png) no-repeat center 20px !important;

}
.removedAddedMsg {
	background:#181818 url(../images/fav_removed_icon.png) no-repeat center 20px !important;
}

.footer {
	height:250px;
	//background-color: $active-color;
	background: url(../images/linen_bg.png);
	.border {
		background:url(../images/footer_pattern.png) repeat-x;
		height:31px;
	}
	.logo {
		background:url(../images/footer_logo.png) center center no-repeat;
		width:100%;
		height:219px;
	}
}

.mainBtn,
.x-button.search,
.bookingBtnLarge {
	
	padding:13px;
	margin: 0 0 10px 0;
	color:#fff;
	@include text-shadow(1px 1px 0 #000);
	background-color:#2a364c;
	@include background-image(linear-gradient(#354461,#1f2738));
	@include box-shadow(inset 0px 1px 1px 0px #212a3c,0px 1px 1px 0px #fff);
	border:none;
	
}
.x-button.x-button-pressed.mainBtn,
.x-button.x-button-pressing.mainBtn,
.x-button.x-button-pressed.search,
.x-button.x-button-pressing.search,
.x-button.x-button-pressed.bookingBtnLarge,
.x-button.x-button-pressing.bookingBtnLarge {
	@include box-shadow(inset 0px 1px 1px 0px #943b1e,0px 1px 1px 0px #fff);
	background:$active-color;
}

.btnsArea {
	border-top:1px solid $lightGray;
	background:$xLightGray;
	.x-button-label {
			font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
		}
	.x-button {
		
		 @include border-radius(10px);
		 padding:15px 10px;
	}
	.x-button.search,
	.bookingBtnLarge {
		.x-button-label {
			font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
		}
		padding:13px;
		margin: 0 0 10px 0;
		color:#fff;
		@include text-shadow(1px 1px 0 #000);
		background-color:#2a364c;
		@include background-image(linear-gradient(#354461,#1f2738));
		@include box-shadow(inset 0px 1px 1px 0px #212a3c,0px 1px 1px 0px #fff);
		border:none;
	
	}
	.x-button.x-button-pressed.search,
	.x-button.x-button-pressing.search,
	.x-button.x-button-pressed.bookingBtnLarge,
	.x-button.x-button-pressing.bookingBtnLarge {
		@include box-shadow(inset 0px 1px 1px 0px #943b1e,0px 1px 1px 0px #fff);
		background:$active-color;
	}
	.secondLevelBtn {
		width:48%;
		font-size:12px;
		float:left;
		border:none;
		@include border-radius(8px); // border radius
		@include background-clip(); // prevents bg color from leaking outside the border
		background-color: #f7f5f1; // layer fill content
		@include box-shadow(0 2px 1px rgba(0,0,0,.16)); // drop shadow
		@include background-image(linear-gradient(bottom, #f7f5f1 0%, #fff 100%)); // gradient overlay
	}

	.x-button.x-button-pressed.secondLevelBtn,
	.x-button.x-button-pressing.secondLevelBtn {
		@include box-shadow(0 -2px 1px rgba(0,0,0,.16)); // drop shadow
		@include background-image(linear-gradient(bottom, #fff 0%, #f7f5f1 100%)); // gradient overlay
	}
	
	.favoritesBtnLarge {
		float:left;
		background-image: url(../images/ico_add_favs.png);
		background-position: 15px 10px;
		background-repeat: no-repeat;
		.x-button-label {
			margin:0 0 0 37%;
			width:50%;
			display:block;
			overflow:visible;
			text-align:left;
			white-space:normal;
		}
	}
	.x-button.x-button-pressed.favoritesBtnLarge,
	.x-button.x-button-pressing.favoritesBtnLarge {
		background-position: 20px -46px;
	}
	.itinerayBtnLarge {
		float:right;
		background-image: url(../images/ico_add_itinerary.png);
		background-position: 10px 10px;
		background-repeat: no-repeat;	
		.x-button-label {
			margin:0 0 0 37%;
			width:50%;
			display:block;
			overflow:visible;
			text-align:left;
			white-space:normal;
		}
	}
	.x-button.x-button-pressed.itinerayBtnLarge,
	.x-button.x-button-pressing.itinerayBtnLarge {
		background-position: 10px -46px;
	}
	.x-button.reset,
	 {
		color:#383837;
		@include box-shadow(inset 0px 1px 1px 0px #908e8b,0px 1px 1px 0px #fff);
		border:none;
	}
	.x-button.x-button-pressed.reset,
	.x-button.x-button-pressing.reset {
	
		background-color:$highlightLight;
		@include text-shadow(1px 1px 0 #000);
		.x-button-label {
			color:#fff;
		}
	}
	.x-button.reset {
		padding:10px;
		background-color:#bcbbb7;
	}
	
}

.x-slidenavigation {
	background-color:$mediumGrey;
}
// The slidemenu styles
.x-slidenavigation-list {

	background-color:$mediumGrey;
	color:#fff; font-size:14px; background-color:$darkGrey; border-right:1px solid #82868c;
	font-family: 'GeometricSlab';
	
	.x-scroll-view {
		background-color:$mediumGrey;
	}
	#ext-listitemheader-1 {
		display:none;
	}
	// search
	.x-toolbar {
		background-color:$darkGrey; 
		color:#fff;
		border:none;
		height:42px;
		/* HelveticaNeue-CondensedBold" */
		.x-field-search {
			background:$mediumGrey;
			 @include border-radius(20px);
			 .x-field-input::before {
				background-color: white;
			}
		}
		.x-component-outer {
			background:$mediumGrey;
		}
		.x-form-field {
			background:$mediumGrey;
			color:#fff;
		}
		.x-clear-icon {
			background: url('../images/icon-clearFeild.png') no-repeat 8px 6px;
		}
	}

	.x-list-header {
		text-indent:-9999px;
		background-color:$darkGrey;
		border-top: 1px solid $darkGrey;
		border-bottom: none;
		padding:0;
		height:9px;
	}
	.x-list-item.x-item-selected .x-list-item-label {
		color:#fff;
		background-color:$highlightLight;
	}
	.x-list-item:first-child .x-list-header {
		// hide the first group header
		display : none;
	}
	.x-list-item {
		color:#fff !important;
		background-color:$mediumGrey;
		border-top: none;
	}
	.x-list-item.x-item-pressed .x-list-item-label{
		background:$darkGrey
	}

	.x-list-item-label {
		color:#fff;
		border-top: 1px solid $darkGrey !important;
		border-bottom:none !important;
		background-color: $mediumGrey; 
	}

	.x-list-item:last-child .x-list-item-label {
		border-bottom:none !important;
	}


}
.itinerariesList {
	.x-list-item {
		margin:0 0 10px 0;
		

		
	}


	.x-list-item-label {

		height:80px;
		color:#32373f;
		padding: 0 40px 0 10px !important;
		@include border-radius(10px); // border radius
		@include background-clip(); // prevents bg color from leaking outside the border
		background-color: rgba(135,128,118,.15); // layer fill content
		@include box-shadow(0 1px 1px rgba(255,255,255,.4), inset 0 1px 1px rgba(0,0,0,.4)); // drop shadow and inner shadow
		

		background-image:url('../images/arrow_cell.png') !important;
		background-repeat:no-repeat;
		background-position: right center;


		div {
			padding: 10px 0 10px 70px;
			background-image:url(../images/itinerary_list_ico.png);
			background-position: 15px 15px;
			background-repeat:no-repeat !important;
		}

		h3 {
			padding:12px 0 5px 0;
			line-height: 1;
			font-weight:bold;
			font-size:15px;
		}
		h4 {
			line-height: 1;
			font-weight:normal;
			font-size:15px;
		}
	}

	.x-list-item.x-item-pressed .x-list-item-label{
		background-color: rgba(255,255,255,.15); // layer fill content
		background-repeat:no-repeat;
		background-position: right center;
	}
	.x-list-item.x-item-selected  .x-list-item-label {
		background-color: rgba(135,128,118,.25); // layer fill content
		background-repeat:no-repeat;
		background-position: right center;
	} 
}

.favouritesList {
	.x-list-item-label {
		padding: 10px 40px 10px 10px !important;
	}
	.x-list-disclosure {
		height:35px;
		width:35px;
		background:url(../images/de_fav.png) no-repeat !important;
		-webkit-mask:none;
	}
}
///////////////////////
// TOOLBARS
///////////////////////
.x-toolbar {
	height:44px;
	background-color: #fff;
	.x-title {
		font-family: "HelveticaNeue-CondensedBold";
		text-transform:uppercase;
		color:$highlightDark;
		font-size:17px;

	}
	.x-innerhtml  {
		width:100%;
	}
	h3 {
		text-align:center;
		font-family: "HelveticaNeue-CondensedBold";
		font-size:18px;
		margin: 0;
	}
	
}

.x-toolbar.itineraryDayToolbar {
	h3 {
		font-size:25px;
		color:#ffffff;
	}
	h4 {
		font-size:15px;
		color: #959799;
		text-align:center;
		font-style:normal;
	}
	
}
.x-toolbar.pageNav {
	background-color:$mediumGrey;
	color:#fff;
	height:72px;
	.x-title {
		text-transform:none;
		color:#fff;

	}
	.x-button {
		width: 45px;
		background-color:$mediumGrey;
		border: none !important;
		background-image:url(../images/btn_arrow_area_next.png);
		background-repeat: no-repeat;
		background-position:10px 30px;
	}
	.x-button.backBtn {
		background-image:url(../images/btn_arrow_area_prev.png);
	}
	.x-button.x-button-pressed,
	.x-button.x-button-pressing {
		background-image:url(../images/btn_arrow_area_next_o.png);
	}
	.x-button.x-button-pressed.backBtn,
	.x-button.x-button-pressing.backBtn {
		background-image:url(../images/btn_arrow_area_prev_o.png);
	}
}

.languageMsgBox {
	background-color:#F6F5F1 !important;
	padding:0 !important;
	.x-inner {
		background-color:#F6F5F1 !important;
	}
	.x-button {
		margin:10px;
		padding: 10px;
		.x-button-label {
			word-wrap:wrap;
			overflow:visible;
			text-overflow:clip;
			white-space: normal
		}
	}
}


///////////////////////
// LISTS
///////////////////////
.x-list-header {
	color:$mediumGrey !important;
}
.x-list {
	//background:$page-bg-color;
	.x-list-item-label {
		border:none;
	}
	.x-list-item.x-item-selected .x-list-item-label {
		
	}
}
.langList {
	padding: 10px 0 10px 0;
	.x-list-item {
		margin: 0 0 5px 0;
		@include border-radius(6px);
		@include background-image(linear-gradient(#f8f7f3,#f4f3f1,#f1f0ee));
	}
	.x-list-item-label {
		border:1px solid $cellStroke !important;
		@include text-shadow(1px 1px 0 #fff);
		background-repeat:no-repeat;
		@include box-shadow(inset 0px 1px 1px 0px #fff,0px 1px 1px 0px #fff);
		@include border-radius(6px);
	}
	.x-list-item.x-item-selected .x-list-item-label,
	.x-list-item.x-item-pressing .x-list-item-label,
	.x-list-item.x-item-pressed .x-list-item-label {
		color:#fff;
		background-color: $highlightLight;
		
		@include text-shadow(0px 0px 0 #000);
	}
}

.radioList,
.pageList,
.selectionList {
	background:transparent !important;
	padding: 10px 0 10px 0;
	.x-list-item {
		background:transparent !important;
	}
	.x-list-item-label {
		@include background-image(linear-gradient(#f8f7f3,#f4f3f1,#f1f0ee));
		border:1px solid $cellStroke !important;
		@include text-shadow(1px 1px 0 #fff);
		background-color:#f4f3f1;
		background-image:url('../images/arrow_cell.png') !important;
		background-repeat:no-repeat;
		background-position: right 18px;
	}
	.x-list-item.x-item-selected .x-list-item-label,
	.x-list-item.x-item-pressing .x-list-item-label,
	.x-list-item.x-item-pressed .x-list-item-label {
		color:$highlightLight;
		background-color: $xLightGray;
		background-image:url('../images/arrow_cell_o.png') !important;
		background-repeat:no-repeat;
		background-position: right 18px;

	}
}

.radioList {
	.x-list-item-label {
		background-image:url('../images/radio_btn_off.png') !important;
		background-repeat:no-repeat !important;
		background-position: 95% 9px !important;
	}
	.x-list-item.x-item-selected .x-list-item-label,
	.x-list-item.x-item-pressing .x-list-item-label,
	.x-list-item.x-item-pressed .x-list-item-label {
		background-image:url('../images/radio_btn_on.png') !important;
		background-repeat:no-repeat !important;
		background-position: 95% 9px !important;
	}
	
}

	
.contactList {
	padding: 10px 0 10px 0;
	.x-list-item {
		@include background-image(linear-gradient(#f8f7f3,#f4f3f1,#f1f0ee));
	}
	.x-list-item-label {
		border:1px solid $cellStroke !important;
		border-bottom:none !important;
		text-align:left;
		text-overflow:ellipsis;
		div {
			padding:0 0 0 40px;
			text-align: left;
			background-repeat: no-repeat;
			background-position: 0px 0px;
			text-overflow:ellipsis;
			overflow: hidden;
			text-overflow: ellipsis;
			-o-text-overflow: ellipsis;
			white-space: nowrap;
		}
		div.emailIcon {
			background-image: url(../images/ico_email.png);

		}
		div.directionsIcon {
			word-wrap: break-word;
			overflow: visible;
			white-space: normal !important;
			background-image: url(../images/ico_map.png);
		}

		div.callIcon {
			background-image: url(../images/ico_phone.png);
			a {
				display: block;
				text-decoration: none;
				color: black;
				margin: -0.65em -0.8em;
				padding: 0.65em 0.8em;
			}
		}
		div.linkIcon {
			background-image: url(../images/ico_web.png);
		}
		
	}
	.x-list-item.x-item-selected .x-list-item-label div.emailIcon,
	.x-list-item.x-item-pressing .x-list-item-label div.emailIcon,
	.x-list-item.x-item-pressed .x-list-item-label div.emailIcon {
			background-image: url(../images/ico_email_o.png);
	}
	.x-list-item.x-item-selected .x-list-item-label div.directionsIcon,
	.x-list-item.x-item-pressing .x-list-item-label div.directionsIcon,
	.x-list-item.x-item-pressed .x-list-item-label div.directionsIcon {
			background-image: url(../images/ico_map_o.png);
	}
	.x-list-item.x-item-selected .x-list-item-label div.callIcon,
	.x-list-item.x-item-pressing .x-list-item-label div.callIcon,
	.x-list-item.x-item-pressed .x-list-item-label div.callIcon {
			background-image: url(../images/ico_phone_o.png);
	}
	.x-list-item:first-child {
		.x-list-item-label {
			@include border-radius(8px 8px 0px 0px);
		}
	}
	.x-list-item:last-child {
		.x-list-item-label {
			border-bottom:1px solid $cellStroke !important;
			@include border-radius(0px 0px 8px 8px);
		}
	}

}



.selectionList {
	.x-list-item {
		margin: 0 0 5px 0;
		@include border-radius(6px);
	}
	.x-list-item-label {
		@include box-shadow(inset 0px 1px 1px 0px #fff,0px 1px 1px 0px #fff);
		@include border-radius(6px);
	}
	.x-list-item.x-item-selected .x-list-item-label,
	.x-list-item.x-item-pressing .x-list-item-label,
	.x-list-item.x-item-pressed .x-list-item-label {
		@include box-shadow(inset 0px 1px 1px 0px #e0dada,0px 1px 1px 0px #fff);
	}

}

.radioList,
.pageList {
	.x-list-item-label {
		border-bottom:none !important;
	}
	.x-list-item:first-child {
		.x-list-item-label {
			@include border-radius(8px 8px 0px 0px);
		}
	}
	.x-list-item:last-child {
		
		.x-list-item-label {
			border-bottom:1px solid $cellStroke !important;
			@include border-radius(0px 0px 8px 8px);
		}
	}

}


.imgList {
	.x-list-item {
		margin:0px 0 0 0;
	}
	.x-list-item:first-child .x-list-item-label {
		border-top:2px solid #f6f5f1 !important;	
	}
	.x-list-item-label {
		border-top:2px solid $lightGray !important;
		background-color:$base-color;
		color:#000;
		padding:0 !important;
		background-image: url(../images/btn_arrow_table.png);
		background-repeat: no-repeat;
		background-position: right 35px;
		line-height:100%;
		
		div {
			margin: 10px 0 20px 0;
		}

		span {
			border:1px solid #bcbdbe;
			display:block;
			float:right;
			@include border-radius(60px);
			margin: -5px 30px 0 0;
			padding:2px 8px;
			text-align:center;
			background:#f7f5f1;
			color:#1f2737;
			font-size:15px;
			@include box-shadow(inset 2px 2px 5px 0px #fff,0px 1px 1px 0px #fff);
		}

		div.img {
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			background-position: center center;
			background-repeat:none;
			height:88px;
		}

		.imgContainer {
			margin: 0;
			background-color: $lightGray;
		}
	}
	.x-list-item:last-child .x-list-item-label {
		border:none;
	}
	.x-list-item.x-item-selected .x-list-item-label,
	.x-list-item.x-item-pressed .x-list-item-label{
		color:$highlightLight;
		background-color: $base-color;
		//background-image: url(../images/btn_arrow_table.png);
		background-position: right 35px;
		background-repeat: no-repeat;
		background-image: url(../images/btn_arrow_table_o.png);
	}
}

.numberedList {
	//border-top:2px solid #DEDEDE;
	background-image: url(../images/home_shadow_a.png);
	background-repeat: repeat-x;
	.x-list-item-label {
		span {
			font-family: 'GeometricSlab';
			border:1px solid #bcbdbe;
			display:block;
			float:left;
			@include border-radius(60px);
			margin: -5px 0 0 0;
			padding:11px 15px;
			text-align:center;
			background:#f7f5f1;
			color:#1f2737;
			font-size:15px;
			@include box-shadow(inset 2px 2px 5px 0px #fff,0px 1px 1px 0px #fff);
		}
		h3 {
			margin : 25px 0 0 50px;
			padding:0 0 0 0;
			font-size:16px;
			color:#181d2a;
			font-family:"HelveticaNeue-Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans;
			font-weight:bold;
		}

		h4 {
			margin : 0 0 10px 50px;
			padding:0;
			color:#466b77;
			font-size:12px;
			font-family: Georgia;
			font-style:italic;
		}
	}
}

.eventList {
	.x-list-item {
		height:auto;
	}
	.x-list-item-label {
		span {
			border:1px solid #bcbdbe;
			display:block;
			float:right;
			@include border-radius(60px);
			margin: -5px 0 0 0;
			padding:0;
			height:50px;
			text-transform:uppercase;
			line-height:100%;
			text-align:center;
			background:#f7f5f1;
			color:#929395;
			font-size:11px;
			@include box-shadow(inset 2px 2px 5px 0px #fff,0px 1px 1px 0px #fff);
			width:50px;
		}
		h3 {
			margin : 15px 50px 5px 0;
			padding:0;
			font-size:18px;
		}
		h4 {
			margin : 0 50px 0px 0;
			padding:0;
			color:#466b77;
			font-size:12px;
		}
	}
}


.thumbList {
	.x-list-item:first-child .x-list-item-label {
		border-top:2px solid $lightGray !important;
		padding:0;
	}

	.x-list-container {
		@include clearfix;
	}
	.x-list-item {
		float:left;
		width:48%;
	}
	.x-list-item:nth-child(even) {
		float:right;	
	}
}

.productListItem {
	width:100%;
	border:none;
	@include border-radius(0);
	.x-innerhtml {
		width:100%;
		background-image: url(../images/btn_arrow_table.png);
		background-repeat: no-repeat;
		background-position: right 20px;
		h3 {
			margin : 25px 0 0 0px;
			padding:8px 0 0 0;
			font-size:18px;
			color:#323840;
			font-family:"HelveticaNeue-CondensedBold";
		}
		h4 {
			margin : -5px 0 5px 0;
			padding:0;
			color:#466b77;
			font-size:12px;
			font-family: Georgia;
			font-style:italic;
		}
	}
	
	.productImg {
		height:88px;
		width:100%;
		background:grey;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: center center;
	}
}
.productListItem.x-button-pressing,
.productListItem.x-button-pressed {
	background-color: #fff !important;
	.x-innerhtml {
		color:$highlightLight;
		background-color: #fff !important;
		//background-image: url(../images/btn_arrow_table.png);
		background-position: right 20px;
		background-repeat: no-repeat;
		background-image: url(../images/btn_arrow_table_o.png);
	}
}

///////////////////////
// ITINERARY
///////////////////////

#myItinerarySection {
	.x-layout-card-item {
		background: #cbbdab url('../images/pattern_sand.png');
		
	}
	.x-scroll-scroller {
		background: #cbbdab url('../images/pattern_sand.png');
	}
}
.addToItineraryPage,
.newItinerary { 
	.x-scroll-scroller {
		background: #cbbdab url('../images/pattern_sand.png');
	}
}

.itineraryInstructions {
	padding:140px 0 0 0;
	background: url('../images/ico_itinerary_badge.png') center 0 no-repeat;
	p {
		color:#84817d;
		font-size:12px;
		font-weight:bold;
		text-align:center;
	}
}

.itineraryProducts {
	background: #cbbdab;
	.x-scroll-scroller {
		
	}
}
.createItineraryBtnLarge {
	border:none !important;
	background:url('../images/itinerary_badge_add.png') center center no-repeat !important;
	.x-button-label {
		text-indent:-9999px;
		border:none;
		
	}
}
.createItineraryInstructions {
	@include opacity(.8); // layer alpha
	color: #32373f; // text color
	font-family: "Helvetica Neue";
	font-size: 16px;
	text-align:center;
}

.itineraryList {
	background: #cbbdab url('../images/pattern_sand.png');
	.x-list-item {
		margin: 0 0 10px 0;
		
	}
	.x-list-disclosure {
		top:0;
		right:0;
		width:50px;
		height:50px;
		background-color:transparent;;
		-webkit-mask:none;
		background-image:url('../images/itinerary_item_edit.png');
		background-repeat:no-repeat;
		background-position: right top;

	}
	.x-list-item-label {
		padding: 10px 30px 10px 70px !important;
		height:80px;
		background-image:url('../images/ico_accommodation@2x.png') !important;
		-webkit-background-size: 54px 54px;
		background-repeat:no-repeat;
		background-position:  10px center;
		@include border-radius(10px); // border radius
		@include background-clip(); // prevents bg color from leaking outside the border
		background-color: #fff; // layer fill content
		@include background-image(linear-gradient(bottom, #f7f5f1 0%, #fff 100%)); // gradient overlay
		.labels {
			margin:15px 0 0 0;
			h3 {
				line-height:1;
			}
			h4 {
				color:#6e7276;
				line-height:1;
				font-style:italic;
			}
		}
		.dragIcon {
			width:30px;
			height:60px;
			float:right;
			background:url('../images/icon_drag.png') center center no-repeat !important;
		}
	}
	.x-list .x-item-selected .x-list-disclosure {
		background-color:transparent;;
		-webkit-mask:none;
		background-image:url('../images/itinerary_item_edit.png');
		background-repeat:no-repeat;
		background-position: right top;
	}
	.x-list-item.x-item-selected .x-list-item-label,
	.x-list-item.x-item-pressing .x-list-item-label,
	.x-list-item.x-item-pressed .x-list-item-label {
		background-repeat:no-repeat;
		background-position:  10px center;
		background-color: #fff; // layer fill content
		-webkit-background-size: 54px 54px;
		color:#000;
	}
}


.productPage {
	h3 {
		font-size:20px;
	}
	
	.x-scroll-scroller {
		background: #F6F5F1 !important;
	}
}
///////////////////////
// PRODUCT PAGE
///////////////////////
.productDates {
	background-color:$highlightLight;
	padding:20px;
	color:#fff;
	.dateDisplay {
		width:70px;
		float:left;
		line-height:100%;
		padding:10px 0;
		h3 {
			margin: 0 0 5px 0;
			padding: 0;
			font-size:34px;
			line-height:100%;
		}
		h4 {
			margin:0;
			padding:0;
			font-style:italic;
			line-height: 100%;
		}
		&.end {
			padding-left:40px;
			background: url(../images/arrow_event.png) left 6px no-repeat;
			width:140px
		}
	}
	.year {
		width:70;
		float:right;
		font-size:28px;
		margin: 43px 0 0 0;
	}
}

///////////////////////
// UI
///////////////////////
// button 
.x-button { background-color:#fff}

.x-navigationview {

	.x-navigation-bar {
		.x-toolbar-inner {
			.x-centered {
				.x-title {
					width:300px !important;
					font-size: 14px !important;
				}
			}
		}
	}
	.x-title {
		line-height:1em;
	}
	.x-toolbar h4 {
		font-size:13px;
		padding:0;
		margin:0;
		font-style:italic;
		font-weight:normal;
		text-transform:none;
		font-family: Georgia;
		
	}
	.x-button-back {
		border: none !important;
		margin-left:6px;
		background-color:#fff;
		background-repeat:no-repeat;
		background-image:url('../images/btn_back.png');
		text-indent:-9999px;
		height:43px;
		background-position:0 6px;
		.x-button-label {
			//text-indent:-9999px;	
			width:30px;
		}
	}
	.x-button-back.x-button-pressing {
		background-color:#fff;
		background-position:0 -38px;
	}
	.x-button-back::before, .x-button-back::after {
		width:0;
	}
}

.btnsContainer {
	border-bottom:2px solid #9d9fa3;
	.x-button {
		float:left;
		@include border-radius(0);
		@include background-image(linear-gradient(#f7f5f1,#dddcda));
		@include text-shadow(0 2px 0 rgba(255,255,255,.75));
		
		border-top:1px solid #fff;
		border-left:1px solid #fff;
		border-right:1px solid #bcbdbe;
		border-bottom:1px solid #bcbdbe;
		color:$mediumGrey;
		font-weight:normal;
		font-size:14px;
		
		// Shange
		font-family: "HelveticaNeue-Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans;
		
		width:50%;
		text-align:center;
		.x-button-label {
			font-weight:normal;
			padding: 25px 0;
		}
		
		&.x-button-pressed .x-button-label,
		&.x-button-pressing .x-button-label {
			color:$highlightLight;
		}
		
	}
	
	border-bottom:2px solid $lightGray;
}

.btnsHomeContainer {
	border-bottom:2px solid #9d9fa3;
	padding:15px;
	background-color:#323840;
	.x-button {
		width:48%;
		height:65px;
		float:left;
		background-color:#191c20;
		border:none !important;
		color:#fff;
		.x-button-label {
			margin: 0 0 0 45%;	
			text-align:left;
		}
		&.weatherHome {
			background-repeat: no-repeat;
			background-position:15px 15px;
			font-family: "HelveticaNeue-CondensedBold";
			h2 {
				font-size:25px;
				
				margin:0;
				padding:0;
			}
			h4 {
				font-size:11px;
				margin:0;
				padding:0;
			}
		}
		&.icon_1 {
			background-image:url(../images/we_ico_1_sml.png)
		}
		&.icon_2 {
			background-image:url(../images/we_ico_2_sml.png)
		}
		&.icon_3 {
			background-image:url(../images/we_ico_3_sml.png)
		}
		&.icon_4 {
			background-image:url(../images/we_ico_4_sml.png)
		}
		&.icon_5 {
			background-image:url(../images/we_ico_5_sml.png)
		}
		&.icon_6 {
			background-image:url(../images/we_ico_6_sml.png)
		}
		&.icon_7 {
			background-image:url(../images/we_ico_7_sml.png)
		}
		&.icon_8 {
			background-image:url(../images/we_ico_8_sml.png)
		}
		&.icon_9 {
			background-image:url(../images/we_ico_9_sml.png)
		}
		&.icon_10 {
			background-image:url(../images/we_ico_10_sml.png)
		}
		&.icon_11 {
			background-image:url(../images/we_ico_11_sml.png)
		}
		&.icon_12 {
			background-image:url(../images/we_ico_12_sml.png)
		}
		&.icon_13 {
			background-image:url(../images/we_ico_13_sml.png)
		}
		&.icon_14 {
			background-image:url(../images/we_ico_14_sml.png)
		}
		&.icon_15 {
			background-image:url(../images/we_ico_15_sml.png)
		}
		&.icon_16 {
			background-image:url(../images/we_ico_16_sml.png)
		}
		&.icon_17 {
			background-image:url(../images/we_ico_17_sml.png)
		}
		&.dealsHome {
			float:right;
			background-image:url(../images/ico_home_deals.png);
			background-repeat: no-repeat;
			background-position:15px 13px;
			font-size:20px;
			font-family: "HelveticaNeue-CondensedBold";
				
		}
		&.tipsHome {
			float:right;
			background-image:url(../images/ico_home_tips.png);
			background-repeat: no-repeat;
			background-position:15px 22px;
			font-family: "HelveticaNeue-CondensedBold";
		}
	}
}

.x-button.x-button-pressed.iconBtn,
.x-button.x-button-pressing.iconBtn {
	background-color:#fff;
	border:none; 
	background-position:0 -38px;
}
.x-button.iconBtn { 
	background-color:#fff; 
	height:43px;
	width:56px;
	border:none;
	background-position: 0 6px;
	background-repeat: no-repeat;
}
.scrollTopTopBtn {
	background:none;
	// Shange
	//text-transform:uppercase;
	font-size:16px;
	color:#181d2a;
	border:none !important;
}
.x-button.x-button-pressed.scrollTopTopBtn,
.x-button.x-button-pressing.scrollTopTopBtn {
	background:none;
	border:none;
}
.menuBtn {
	background-image: url('../images/btn_menu.png');
	width: 56;
    height: 43;
}
.closeBtn {
	background-image: url('../images/icon-close.png');
}
.searchBtn {
	background-image: url('../images/btn_search.png');
	width: 56;
    height: 43;
}

.editBtn {
	background-image: url('../images/btn_edit.png');
	width: 56;
    height: 43;
}

.shareBtn {
	background-image: url('../images/btn_share.png');
	background-color:#ffffff;
	width: 56;
    height: 43;
}

.itinerayBtn,
.favoriteBtn {
	background-image: url('../images/btn_favourite.png');
	border:none !important;
	background-color:transparent;
	background-repeat:no-repeat;
}

.favoriteBtn.isFav,
.x-button.x-button-pressed.favoriteBtn,
.x-button.x-button-pressing.favoriteBtn,
.x-button.x-button-pressed.itinerayBtn,
.x-button.x-button-pressing.itinerayBtn {
	background-color:transparent;
	border:none; 
	background-position:0 -60px;
}
.itinerayBtn {
	background-image: url('../images/btn_itinerary.png');
}


.directionsBtn {
	background-image: url('../images/btn_contactsheet_map.png');
}
.callBtn {
	
	width: 45px;
	height: 47px;
	display: block;
	float: left;
	margin: 0 16px 0 0;
	a {
		background-image: url('../images/btn_contactsheet_phone.png');
		width: 45px;
		height: 47px;
		display: block;
	} 
	a:hover {
		background-position:0 -56px;
	}
}

.emailBtn {
	background-image: url('../images/btn_contactsheet_mail.png');
}
.linkBtn {
	background-image: url('../images/btn_contactsheet_web.png');
}
.bookingBtn {
	background-image: url('../images/btn_contactsheet_book.png');
}

.x-button.x-button-pressed.contactSheetBtn,
.x-button.x-button-pressing.contactSheetBtn {
	background-color:transparent;
	border:none; 
	background-position:0 -56px;
	
}








.weatherBtn {
	width:65px !important;
	height:90px !important;
	background-color: rgba(31,39,55,0.8) !important;
	@include border-radius(8px);
	margin: 10px 10px 0 0;
	background-image: url(../images/ico_home_weather.png);
	background-repeat:no-repeat;
	background-position:14px 7px;
	color:#fff;
	font-size:25px;
	border:none;
	text-align:center;
	.x-button-label {
		color:#fff;
		overflow:visible;
		padding:45px 0 0 0;

	}

}
.textBtn{
	background:none;
	border:none;
	
	.x-button-label {
		text-align:right;
		font-family:"Times New Roman";
		font-size:12px;
		font-style:italic;
		color:$highlightDark;
	}
}

.expandableInfo {
	margin:10px;
	.text {
			margin: 0 0 10px 0;
			word-wrap:break-word;
			overflow:visible;
			p {
				margin: 0 0 10px 0;
				word-wrap:break-word;
				overflow:visible;
			}
		}

	&.border {
		border-bottom: 2px solid $lightGray;
		padding: 0 0 35px 0;

	}
	ul {
		li {
			background: url(../images/list-dot.png) no-repeat;
			padding: 0 0 10px 20px;
			line-height:150%;
		}
	}
}

.x-segmentedbutton {
	background: url(../images/linen_bg.png);
	.x-segmentedbutton-inner {
		padding:7px 14px; 
		background: url(../images/linen_bg.png);
	}
	.x-button {
		color:$lightGray;
		background-color:#fff;
		text-transform:uppercase;
		font-size:12px;
		padding:8px 0;
		&.mapBtn {
			background-image:url(../images/segmentedControl_map.png);
			background-repeat: no-repeat;
			background-position: center -60px;
			height:30px;
		}
		&.listBtn {
			background-image:url(../images/segmentedControl_list.png);
			background-repeat: no-repeat;
			background-position: center -62px;
			height:30px;
		}
		&.x-button-pressed.listBtn,
		&.x-button-pressing.listBtn {
			background-position: center 9px;
		}
		&.x-button-pressed.mapBtn,
		&.x-button-pressing.mapBtn {
			background-position: center 5px;
		}
	}


	.x-button-pressing {
		@include box-shadow(inset 0px 4px 12px 1px #1c2023);
		background-color:$mediumGrey;
		color:#fff;
	}
	.x-button-pressed {
		@include box-shadow(inset 0px 3px 8px 1px #1c2023);
		background-color:$mediumGrey;
		color:#fff;
	}
}

///////////////////////
// FORMS
///////////////////////
.x-form-label {
	background-color:none;
	color:#000;
}
.x-toggle {
	background-color:$active-color;
	background-image: url(../images/we_temp.png);
	background-position: 20px 10px;
	background-repeat: no-repeat;
	@include border-radius(8px);
	@include box-shadow(inset 0px 2px 10px 0px rgba(0, 0, 0, 0.5));
	width:100px;
	border:none;
	.x-thumb {
		width:50px;
		height:100%;
	// 	top:0;
	// 	left:0;
	// 	z-index:1000;
	}
	 .x-thumb::before {
		top:0;
		left:0;
		z-index:1000;
	 	width:50px;
		height:100%;
		@include border-radius(8px);
		@include background-image(linear-gradient(#d7d7d7,#fbfbfb));
		border:1px solid #919191;
	 }
}
///////////////////////
// CAROUSEL
///////////////////////
.x-carousel {
	background:url(../images/gallery_bg.png) repeat-x;
}

.x-carousel-indicator-dark span.x-carousel-indicator-active {
	background-color:$highlightLight;
}
.x-carousel-indicator-dark span {
	background-color:#fff;
}

///////////////////////
// FORMS
///////////////////////

.x-field-textarea .x-field-textarea {
		border:none;
		@include border-radius(8px);
		@include background-clip(); // prevents bg color from leaking 
}

.formPage {
	padding:0;
	background-color:#fff;
	.searchBar {
		background-color:$lightGray;
		border:none;
		@include background-image(linear-gradient(#c5c5c7,#969799));
	}
	.searchOptions {
		.x-field {
		}
	}
	.x-form-label {
		background:#fff;
		color:$xDarkGray;
	}
	.x-toolbar {
		.x-title {
			text-transform:none;
			color:$mediumGrey;
		}
	}
	
	.x-field-text {
		border:1px solid #a5abb2;
		@include border-radius(8px);
		.x-form-label {
			@include border-radius(8px);
		}
	}
	.x-field-select {
		border:1px solid #a5abb2;
		@include border-radius(8px);
		.x-form-label {
			@include border-radius(8px);
		}
		.x-form-field {
			text-align:right;
			padding: 5px 40px 0 0;
			color:$lightGray;
			text-transform:italic;
		}
	}
	.x-input-text {
		min-height: 3em;
	}
	
	.x-button {
		padding: 8px;
	}
	.x-button.search {
		.x-button-label {
			color:#fff;
		}
	}
	.x-button.reset {
		background:#fff;
		.x-button-label {
			color:$mediumGrey;
		}
	}
}
///////////////////////
// MAPPING
///////////////////////
.mapDisplay {
	.olMap {
		border-bottom:2px solid #adafb2;
	}
	.bing-logo {
		background:url(../images/bing_sm.png) no-repeat left bottom;
		width:100px;
		height:30px;
		position:absolute;
		bottom:10px;
		left:10px;
		border:none;
		z-index:1000 !important;
	}	

}
.directionsPage {
	.bing-logo {
		background:url(../images/bing_m1.png) no-repeat left bottom;
	}
}
.bingTerms {
	background:url(../images/bing_m1.png) no-repeat 20px 20px;
}

///////////////////////
// CURRENCY CONVERTER
///////////////////////
.currencyConverterPage {
	.converstion {
		background-color:$active-color;
		.currencyBtn {
			clear:both;
			margin:10px 0 0 0;
			float:left;
			width:45%;
			@include border-radius(8px 0 0 8px);
			border:2px solid #fff;
			height:60px;
			&.aud {
				background-image:url('../images/currency_flag_aud.png');
			}
			&.cny {
				background-image:url('../images/currency_flag_cny.png');
			}
			&.twd {
				background-image:url('../images/currency_flag_twd.png');
			}
			&.usd {
				background-image:url('../images/currency_flag_usd.png');
			}
			&.hkd {
				background-image:url('../images/currency_flag_hkd.png');
			}
			background-repeat:no-repeat;
			background-position:10px 12px;
			.x-button-label {
				margin: 0 0 0 55px;
			}

		}
		.x-button-pressed.currencyBtn,
		.x-button-pressing.currencyBtn {
			background-color:$active-color;
		}
		.x-field-number {
			margin:10px 0 0 0;
			float:right;
			width:55%;
			background-color:transparent;
			min-height:60px;
			height:60px;
			line-height:normal;
			color:#fff !important;
			-webkit-backface-visibility: normal;
			.x-input-number {
				color:#fff;
				//padding:6px;
				line-height:normal;
				font-size:30px;
				height:60px;
				min-height:60px;
				background-color:$active-color;
				border:2px solid #fff;
				-webkit-transform: translate3d(0,0,0);
				//@include border-radius(0 8px 8px 0px);
				&.disabled {
					color:#fff !important;
					-webkit-text-fill-color:#fff !important;
				}
			}
			.x-item-disabled {
				
				input {
					color:#fff !important;
				     -webkit-text-fill-color:#fff !important;
				}
			}
		}
		
		.deatils {
			clear:both;
			margin-right:75px;
			padding:20px 0 20px 0;
			h3,
			h4 {
				color:#323840;
			font-size:15px;
			
			}
			h3{
				width:60px;
				float:left;
			}
			h4 {
				width:100% !important;
				margin-left:60px;
				
			}
			
			
		}
		.swapBtn {
			float: right;
			width:55px;
			height:55px;
			background-color:$active-color;
			margin:-75px 0 0 0;
			border:none;
			background-repeat:no-repeat;
			background-image:url('../images/currency_switch.png');
			
			
		}
		.x-button-pressed.swapBtn,
		.x-button-pressing.swapBtn {
			background-position: 0 -71px;
		}
		
	}
	.info {
			text-align: center;
			border-top:2px solid #dad8d5;
			border-bottom:2px solid #dad8d5;
			padding:20px 0 20px 0;
			line-height: normal;
			h3{
				color:#323840;
				font-size:12px;

			}
			h4 {
				color:#323840;
			font-size:12px;
			}
			
		}
}
///////////////////////
// Settings
///////////////////////
.settings {
	background: #f6f5f1;
	.x-field {
		border:none;
		@include border-radius(0);
	}
	.x-field-select {
		border:none;
		background: #fff;
	}
	.x-toggle-field {
		@include border-radius(0);
		background: #f6f5f1;
		border:0px solid #DEDEDE;
	}
	.x-form-label {
		@include border-radius(0);
		width: 80% !important;
		background:#f6f5f1;
		border:none;
		span {
			font-size:16px !important;
			font-weight:normal !important;
		}

	}
	
}
///////////////////////
// WEATHER
///////////////////////
.weatherPanel {
	background:#d0c4b4;


	.todaysWeather {
		background-color:$active-color;
		background-position: 10px 20px;
		background-repeat: no-repeat;
		background-color:#fff;
		border-bottom:2px solid #adafb2;
		height:185px;

		&.icon_1 {
			background-image:url(../images/we_ico_1_lge.png)
		}
		&.icon_2 {
			background-image:url(../images/we_ico_2_lge.png)
		}
		&.icon_3 {
			background-image:url(../images/we_ico_3_lge.png)
		}
		&.icon_4 {
			background-image:url(../images/we_ico_4_lge.png)
		}
		&.icon_5 {
			background-image:url(../images/we_ico_5_lge.png)
		}
		&.icon_6 {
			background-image:url(../images/we_ico_6_lge.png)
		}
		&.icon_7 {
			background-image:url(../images/we_ico_7_lge.png)
		}
		&.icon_8 {
			background-image:url(../images/we_ico_8_lge.png)
		}
		&.icon_9 {
			background-image:url(../images/we_ico_9_lge.png)
		}
		&.icon_10 {
			background-image:url(../images/we_ico_10_lge.png)
		}
		&.icon_11 {
			background-image:url(../images/we_ico_11_lge.png)
		}
		&.icon_12 {
			background-image:url(../images/we_ico_12_lge.png)
		}
		&.icon_13 {
			background-image:url(../images/we_ico_13_lge.png)
		}
		&.icon_14 {
			background-image:url(../images/we_ico_14_lge.png)
		}
		&.icon_15 {
			background-image:url(../images/we_ico_15_lge.png)
		}
		&.icon_16 {
			background-image:url(../images/we_ico_16_lge.png)
		}
		&.icon_17 {
			background-image:url(../images/we_ico_17_lge.png)
		}
		



		.info {
			margin: -15px 0 0 45%;
			width: 50%;
			float: left;
			h1 {
				font-size:65px;
				color:$active-color;
				width:70%;
				line-height:normal;
				float:left;
			}
			.extremes {
				width:30%;
				float:right;
				margin:10px 0 0 0;
				h3 {
					font-size:25px;
					color:#323840;
				}
				h3.low {
					color:#949698;
				}
			}
			h2 {
				clear:both;
				margin:10px 0;
				font-size:15px;
				color:#323840;
				padding:0;
				font-weight:bold;
				margin:0;
			}
			p {
				font-size:12px;
				margin:0;
			}

			h4 {
				//width:40%;
				//float:left;
				color:#6d7075;
				font-size:12px;
				margin:0 0 -10px 0;
				padding:0 0 0 15px;
				background:url(../images/ico_rain_amount.png) no-repeat 0px 5px;
			}

			h4.wind {
				//width:60%;
				//float:left;
				color:#6d7075;
				font-size:12px;
				margin:0;
				padding:0 0 0 20px;
				background:url(../images/ico_wind_amount.png) no-repeat 0px 5px;
			}
		}
	}
	.options {
		border-bottom:2px solid #adafb2;
		background-color:#fff;
		.x-toggle-field {
			float:left;
			width:140px;
		}
		.x-field-select {
			margin:0 0 0 140px;
			.x-form-label {
				background:none;
				padding:0;
				font-weight: normal;
			}
			.x-component-outer {
				margin:-15px 0 0 0;
			}
			.x-input-text {
				padding:0;
				font-style:italic;
				color:#414851;
			}
		}
		
	}
	.weatherForcast {
		background: url(../images/linen_bg.png);

		//@include box-shadow(inset 0px 3px 8px 1px rgba(0, 0, 0, 0.3));
		.x-scroll-scroller {
			background: url(../images/linen_bg.png);
			//@include box-shadow(inset 0px 3px 8px 1px rgba(0, 0, 0, 0.3));
		}
		.weatherDay {
			width:120px;
			height:150px;
			background:#fefefe;
			
			
			background-repeat: no-repeat;
			background-position: 5px 85px;

			&.icon_1 {
			background-image:url(../images/we_ico_1_med.png)
		}
		&.icon_2 {
			background-image:url(../images/we_ico_2_med.png)
		}
		&.icon_3 {
			background-image:url(../images/we_ico_3_med.png)
		}
		&.icon_4 {
			background-image:url(../images/we_ico_4_med.png)
		}
		&.icon_5 {
			background-image:url(../images/we_ico_5_med.png)
		}
		&.icon_6 {
			background-image:url(../images/we_ico_6_med.png)
		}
		&.icon_7 {
			background-image:url(../images/we_ico_7_med.png)
		}
		&.icon_8 {
			background-image:url(../images/we_ico_8_med.png)
		}
		&.icon_9 {
			background-image:url(../images/we_ico_9_med.png)
		}
		&.icon_10 {
			background-image:url(../images/we_ico_10_med.png)
		}
		&.icon_11 {
			background-image:url(../images/we_ico_11_med.png)
		}
		&.icon_12 {
			background-image:url(../images/we_ico_12_med.png)
		}
		&.icon_13 {
			background-image:url(../images/we_ico_13_med.png)
		}
		&.icon_14 {
			background-image:url(../images/we_ico_14_med.png)
		}
		&.icon_15 {
			background-image:url(../images/we_ico_15_med.png)
		}
		&.icon_16 {
			background-image:url(../images/we_ico_16_med.png)
		}
		&.icon_17 {
			background-image:url(../images/we_ico_17_med.png)
		}
		

			
			overflow:hidden;
			@include border-radius(8px);
			@include box-shadow(2px 2px 10px 0px rgba(0, 0, 0, 0.5));
			margin:0 10px 0 0;
			float:left;
			h2 {
				color:#414851;
				font-size:15px;
				margin:0;
				padding:0;
				line-height:normal;
			}
			h2.day {
				margin:5px 0 5px 0;
			}
			.dayinfo {
				height:40px;
			}
			.details {
				margin: 15px 0 0 0;
				border-top:1px solid #c8c9ca;
				.extremes {
					margin:10px 0 0 0;
					width:45%;
					float: right;
					h3 {
						font-size:25px;
						color:#323840;
					}
					h3.low {
						color:#949698;
					}
				}
				
			}

		}
	}
}

///////////////////////
// PIXEL RATIO IMAGES
///////////////////////
@media (-webkit-min-device-pixel-ratio: 1.5), /* Webkit */
       (min-resolution: 100dpi),           /* Everyone else */
       (min-resolution: 1.5dppx)              /* The Future */ {
	body {
		background-image: url(../images/Splash_Portrait@2x.png);
		-webkit-background-size: 320px 480px; 
	}

	.createItineraryBtnLarge {
		background-image:url('../images/itinerary_badge_add@2x.png');
	    -webkit-background-size: 130px 151px;
	}

	.favouritesList {
		.x-list-disclosure {
			background:url(../images/de_fav@2x.png) no-repeat !important;
			-webkit-background-size: 35px 91px;
		}
		.x-list .x-item-selected .x-list-disclosure {
			background:url(../images/de_fav@2x.png) no-repeat !important;
			-webkit-background-size: 35px 91px;
		}
	}

	.x-toolbar.pageNav {
		.x-button {
			background-image:url(../images/btn_arrow_area_next@2x.png);
			-webkit-background-size: 8px 15px; 
		}
		.x-button.backBtn {
			background-image:url(../images/btn_arrow_area_prev@2x.png);
			-webkit-background-size: 8px 15px; 
		}
		.x-button.x-button-pressed,
		.x-button.x-button-pressing {
			background-image:url(../images/btn_arrow_area_next_o@2x.png);
			-webkit-background-size: 8px 15px;
		}
		.x-button.x-button-pressed.backBtn,
		.x-button.x-button-pressing.backBtn {
			background-image:url(../images/btn_arrow_area_prev_o@2x.png);
			-webkit-background-size: 8px 15px;
		}
	}




	.x-scroll-container {
		background: url(../images/linen_bg@2x.png);
		-webkit-background-size: 333px 500px; 
	}

	.badge {
		background-image: url(../images/badge_home_syd@2x.png);
		-webkit-background-size: 135px 135px; 
	}

	.footer {
		background: url(../images/linen_bg@2x.png);
		-webkit-background-size: 333px 500px;
		.border {
			background-image:url(../images/footer_pattern@2x.png) repeat-x;
			-webkit-background-size: 7px 31px; 
		}
		.logo {
			background-image:url(../images/footer_logo@2x.png);
			-webkit-background-size: 158px 46px; 
			
		}
	}

	.btnsHomeContainer {
		.x-button {
			&.weatherHome {
				-webkit-background-size: 35px 35px;
			}
			&.icon_1 {
			background-image:url(../images/we_ico_1_sml@2x.png)
		}
		&.icon_2 {
			background-image:url(../images/we_ico_2_sml@2x.png)
		}
		&.icon_3 {
			background-image:url(../images/we_ico_3_sml@2x.png)
		}
		&.icon_4 {
			background-image:url(../images/we_ico_4_sml@2x.png)
		}
		&.icon_5 {
			background-image:url(../images/we_ico_5_sml@2x.png)
		}
		&.icon_6 {
			background-image:url(../images/we_ico_6_sml@2x.png)
		}
		&.icon_7 {
			background-image:url(../images/we_ico_7_sml@2x.png)
		}
		&.icon_8 {
			background-image:url(../images/we_ico_8_sml@2x.png)
		}
		&.icon_9 {
			background-image:url(../images/we_ico_9_sml@2x.png)
		}
		&.icon_10 {
			background-image:url(../images/we_ico_10_sml@2x.png)
		}
		&.icon_11 {
			background-image:url(../images/we_ico_11_sml@2x.png)
		}
		&.icon_12 {
			background-image:url(../images/we_ico_12_sml@2x.png)
		}
		&.icon_13 {
			background-image:url(../images/we_ico_13_sml@2x.png)
		}
		&.icon_14 {
			background-image:url(../images/we_ico_14_sml@2x.png)
		}
		&.icon_15 {
			background-image:url(../images/we_ico_15_sml@2x.png)
		}
		&.icon_16 {
			background-image:url(../images/we_ico_16_sml@2x.png)
		}
		&.icon_17 {
			background-image:url(../images/we_ico_17_sml@2x.png)
		}
			&.dealsHome {
				background-image:url(../images/ico_home_deals@2x.png);
				-webkit-background-size: 40px 110px;
			}
			&.tipsHome {
				background-image:url(../images/ico_home_tips@2x.png);
				-webkit-background-size: 18px 66px;
			}
		}
	}
	.x-carousel {
		background:url(../images/gallery_bg@2x.png) repeat-x;
		-webkit-background-size: 64px 200px;
	}


	.menuBtn {
		background-image:url('../images/btn_menu@2x.png');
	}
	.searchBtn {
		background-image:url('../images/btn_search@2x.png');
	}
	.shareBtn {
		background-image: url('../images/btn_share@2x.png');
	}
	.editBtn {
		background-image: url('../images/btn_edit@2x.png');
	}
	.favoriteBtn {
		background-image: url('../images/btn_favourite@2x.png');
		-webkit-background-size: 50px 110px; 
	}
	.itinerayBtn {
		background-image: url('../images/btn_itinerary@2x.png');
		-webkit-background-size: 50px 110px; 
	}
	.directionsBtn {
		background-image: url('../images/btn_contactsheet_map@2x.png');
		-webkit-background-size: 45px 102px; 
	}
	.callBtn {
		a {
			background-image: url('../images/btn_contactsheet_phone@2x.png');
		    -webkit-background-size: 45px 102px; 	
		}
	}
	.emailBtn {
		background-image: url('../images/btn_contactsheet_mail@2x.png');
		-webkit-background-size: 45px 102px; 
	}
	.linkBtn {
		background-image: url('../images/btn_contactsheet_web@2x.png');
		-webkit-background-size: 45px 102px; 
	}
	.bookingBtn {
		background-image: url('../images/btn_contactsheet_book@2x.png');
		-webkit-background-size: 45px 102px; 
	}
	.x-navigationview {
		.x-button-back {
			background-image:url('../images/btn_back@2x.png');
			-webkit-background-size: 44px 73px; 
		}
	}
	.x-button.iconBtn {
		-webkit-background-size: 44px 73px; 
	}
	.contactList {
		.x-list-item-label {
			div {
				-webkit-background-size: 27px 27px;
			}
			div.emailIcon {
				background-image: url(../images/ico_email@2x.png);
			}
			div.directionsIcon {
				background-image: url(../images/ico_map@2x.png);
			}
			div.callIcon {
				background-image: url(../images/ico_phone@2x.png);
			}
			div.linkIcon {
				background-image: url(../images/ico_web@2x.png);
			}
		}
		.x-list-item.x-item-selected .x-list-item-label div.emailIcon,
		.x-list-item.x-item-pressing .x-list-item-label div.emailIcon,
		.x-list-item.x-item-pressed .x-list-item-label div.emailIcon {
					background-image: url(../images/ico_email_o@2x.png);
					-webkit-background-size: 27px 27px;
		}


		.x-list-item.x-item-selected .x-list-item-label div.directionsIcon,
		.x-list-item.x-item-pressing .x-list-item-label div.directionsIcon,
		.x-list-item.x-item-pressed .x-list-item-label div.directionsIcon {
			background-image: url(../images/ico_map_o@2x.png);
				-webkit-background-size: 27px 27px;
		}

		.x-list-item.x-item-selected .x-list-item-label div.callIcon,
		.x-list-item.x-item-pressing .x-list-item-label div.callIcon,
		.x-list-item.x-item-pressed .x-list-item-label div.callIcon {
				background-image: url(../images/ico_phone_o@2x.png);
				-webkit-background-size: 27px 27px;
		}
	}
	.pageList,
	.selectionList {
		.x-list-item-label {
			background-image:url('../images/arrow_cell@2x.png') !important;	
			-webkit-background-size: 21px 13px; 
		}
		.x-list-item.x-item-selected .x-list-item-label,
		.x-list-item.x-item-pressing .x-list-item-label,
		.x-list-item.x-item-pressed .x-list-item-label {
			background-image:url('../images/arrow_cell_o@2x.png') !important;
			-webkit-background-size: 21px 13px;
		}
	}
	.imgList {
	

		.x-list-item-label {
			background-image: url(../images/btn_arrow_table@2x.png);
			-webkit-background-size: 30px 15px; 
		}
		.x-list-item.x-item-selected .x-list-item-label,
		.x-list-item.x-item-pressed .x-list-item-label{
			background-image: url(../images/btn_arrow_table@2x.png);
			-webkit-background-size: 30px 15px; 
		}

	}
	.btnsContainer {
		.x-button {
			
		}
	}
	.x-segmentedbutton {
		background: url(../images/linen_bg@2x.png);
		-webkit-background-size: 333px 500px; 
		.x-segmentedbutton-inner {
			background: url(../images/linen_bg@2x.png);
		    -webkit-background-size: 333px 500px; 
		}
		.x-button {
			&.mapBtn {
				background-image:url(../images/segmentedControl_map@2x.png);
				-webkit-background-size: 11px 83px; 
			}
			&.listBtn {
				background-image:url(../images/segmentedControl_list@2x.png);
				-webkit-background-size: 20px 83px; 
			}
		}
	}
	.weatherBtn {
		background-image: url(../images/ico_home_weather@2x.png);
		-webkit-background-size: 44px 47px;
	}
	.btnsArea {
		.favoritesBtnLarge {
			background-image: url(../images/ico_add_favs@2x.png);
			-webkit-background-size: 31px 83px;
		}
		.itinerayBtnLarge {
			background-image: url(../images/ico_add_itinerary@2x.png);
			-webkit-background-size: 49px 83px;
		}
	}
	.x-loading-spinner {
		background: url(../images/loader@2x.png);
		-webkit-background-size: 40px 40px;
	}

	.currencyConverterPage {
		.converstion {
			.currencyBtn {
				-webkit-background-size: 53px 33px;
				&.aud {
					background-image:url('../images/currency_flag_aud@2x.png');
				}
				&.cny {
					background-image:url('../images/currency_flag_cny@2x.png');
				}
				&.twd {
					background-image:url('../images/currency_flag_twd@2x.png');
				}
				&.usd {
					background-image:url('../images/currency_flag_usd@2x.png');
				}
				&.hkd {
					background-image:url('../images/currency_flag_hkd@2x.png');
				}

			}
			
			.swapBtn {
				background-image:url('../images/currency_switch@2x.png');
				-webkit-background-size: 55px 122px;
			}
			
		}
	}
	.weatherPanel {
		background:#d0c4b4;
		.todaysWeather {
		    -webkit-background-size: 135px 135px; 
		    &.icon_1 {
			background-image:url(../images/we_ico_1_lge@2x.png)
			}
			&.icon_2 {
				background-image:url(../images/we_ico_2_lge@2x.png)
			}
			&.icon_3 {
				background-image:url(../images/we_ico_3_lge@2x.png)
			}
			&.icon_4 {
				background-image:url(../images/we_ico_4_lge@2x.png)
			}
			&.icon_5 {
				background-image:url(../images/we_ico_5_lge@2x.png)
			}
			&.icon_6 {
				background-image:url(../images/we_ico_6_lge@2x.png)
			}
			&.icon_7 {
				background-image:url(../images/we_ico_7_lge@2x.png)
			}
			&.icon_8 {
				background-image:url(../images/we_ico_8_lge@2x.png)
			}
			&.icon_9 {
				background-image:url(../images/we_ico_9_lge@2x.png)
			}
			&.icon_10 {
				background-image:url(../images/we_ico_10_lge@2x.png)
			}
			&.icon_11 {
				background-image:url(../images/we_ico_11_lge@2x.png)
			}
			&.icon_12 {
				background-image:url(../images/we_ico_12_lge@2x.png)
			}
			&.icon_13 {
				background-image:url(../images/we_ico_13_lge@2x.png)
			}
			&.icon_14 {
				background-image:url(../images/we_ico_14_lge@2x.png)
			}
			&.icon_15 {
				background-image:url(../images/we_ico_15_lge@2x.png)
			}
			&.icon_16 {
				background-image:url(../images/we_ico_16_lge@2x.png)
			}
			&.icon_17 {
				background-image:url(../images/we_ico_17_lge@2x.png)
			}
			.info {
				h4 {
					background-image:url(../images/ico_rain_amount@2x.png);
				   -webkit-background-size: 13px 13px;
				}
				h4.wind {
					background:url(../images/ico_wind_amount@2x.png) no-repeat 0px 5px;
				   -webkit-background-size: 13px 13px;
				}
			}

		}

		.weatherForcast {
			background: url(../images/linen_bg@2x.png);
		 -webkit-background-size: 333px 500px; 
			.x-scroll-scroller {
				background-image: url(../images/we_bg_rpt@2x.png);
				-webkit-background-size: 40px 40px;
			}
			.weatherDay {
				
				-webkit-background-size: 48px 48px;
				&.icon_1 {
				background-image:url(../images/we_ico_1_med@2x.png)
				}
				&.icon_2 {
					background-image:url(../images/we_ico_2_med@2x.png)
				}
				&.icon_3 {
					background-image:url(../images/we_ico_3_med@2x.png)
				}
				&.icon_4 {
					background-image:url(../images/we_ico_4_med@2x.png)
				}
				&.icon_5 {
					background-image:url(../images/we_ico_5_med@2x.png)
				}
				&.icon_6 {
					background-image:url(../images/we_ico_6_med@2x.png)
				}
				&.icon_7 {
					background-image:url(../images/we_ico_7_med@2x.png)
				}
				&.icon_8 {
					background-image:url(../images/we_ico_8_med@2x.png)
				}
				&.icon_9 {
					background-image:url(../images/we_ico_9_med@2x.png)
				}
				&.icon_10 {
					background-image:url(../images/we_ico_10_med@2x.png)
				}
				&.icon_11 {
					background-image:url(../images/we_ico_11_med@2x.png)
				}
				&.icon_12 {
					background-image:url(../images/we_ico_12_med@2x.png)
				}
				&.icon_13 {
					background-image:url(../images/we_ico_13_med@2x.png)
				}
				&.icon_14 {
					background-image:url(../images/we_ico_14_med@2x.png)
				}
				&.icon_15 {
					background-image:url(../images/we_ico_15_med@2x.png)
				}
				&.icon_16 {
					background-image:url(../images/we_ico_16_med@2x.png)
				}
				&.icon_17 {
					background-image:url(../images/we_ico_17_med@2x.png)
				}
			}
		}
	}
	.x-toggle {
		background-image: url(../images/we_temp@2x.png);
		-webkit-background-size: 57px 15px;
	}
	.noFavourites {
		background-image: url(../images/favs_no_badge@2x.png);
		-webkit-background-size: 222px 222px;
	}
	.favsAddedMsg {
		background-image: url(../images/fav_added_icon@2x.png) !important;
		-webkit-background-size: 86px 79px;
	}
	.removedAddedMsg {
		background-image: url(../images/fav_removed_icon@2x.png) !important;
		-webkit-background-size: 86px 79px;
	}
	.loadingDisplay {
		//background-image:url(../images/preloader_icon@2x.png) !important;
		-webkit-background-size: 86px 79px;
	}



	.radioList {
		.x-list-item-label {
			background-image:url('../images/radio_btn_off@2x.png') !important;
			-webkit-background-size: 25px 27px;
		}
		.x-list-item.x-item-selected .x-list-item-label,
		.x-list-item.x-item-pressing .x-list-item-label,
		.x-list-item.x-item-pressed .x-list-item-label {
			background-image:url('../images/radio_btn_on@2x.png') !important;
			-webkit-background-size: 25px 27px;
		}
	
	}
	.loadError {
		background-image: url(../images/error_icon@2x.png);
		-webkit-background-size: 89px 76px;
	}
	
	.bing-logo {
		background:url(../images/bing_sm.png) no-repeat;
		
	}	
	.itinerariesList {
		.x-list-item {
			
		}
		.x-list-item-label {
			background-image:url('../images/arrow_cell@2x.png') !important;
			-webkit-background-size: 21px 13px;
			div {
				background-image:url(../images/itinerary_list_ico@2x.png);
			    -webkit-background-size: 43px 53px;
			}
		}

		.x-list-item.x-item-pressed .x-list-item-label{
			-webkit-background-size: 21px 13px;
		}

	}
	.itineraryList {
		background: #cbbdab url('../images/pattern_sand@2x.png');
		-webkit-background-size: 150px 150px;
		
		.x-list-disclosure {
			background-image:url('../images/itinerary_item_edit@2x.png');
			-webkit-background-size: 29px 29px;

		}
	}

}

